<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Stream Vibe</title>
  <link rel="stylesheet" href="/stylesheet/output.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/themes/light.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/shoelace-autoloader.js"></script>

  <% if (data && data.scripts !== undefined) { data.scripts.forEach (script => { %>
  <script src="/scripts/<%= script %>"></script>
  <% })} %>

  <% if (data && data.stylesheets) { data.stylesheets.forEach (stylesheet => { %>
  <link rel="stylesheet" href="/stylesheet/<%= stylesheet %>" />
  <% })} %>
</head>

<body class="bg-[#141414] min-h-[100svh] m-0 font-manrope">

  <%- include('../partials/header.ejs') %>

  <main class="w-full min-h-[100svh] max-w-full overflow-hidden">
    <%- body %>
  </main>

  <%- include('../partials/footer.ejs') %>

  <% if (status === 'error') { %>
    <script>
      alert('<%= message %>');
    </script>
  <% } %>
</body>

</html>